<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            @if (notificationService.message()) {
            <div class="alert mb-5" [class.alert-success]="notificationService.type() === 'success'"
                [class.alert-danger]="notificationService.type() === 'danger'" role="alert">
                {{ notificationService.message() }}

                <button type="button" class="btn-close float-end" aria-label="Close"
                    (click)="notificationService.clear()">
                </button>
            </div>
            }
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                @if(firstName?.invalid && (firstName.dirty || firstName.touched)){
                                @if(firstName.hasError('required') || firstName.hasError('whitespace')){
                                <p class="text-danger small ms-2">First Name is required</p>
                                }
                                @else if(firstName.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">First Name must be atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                @if(lastName?.invalid && (lastName.dirty || lastName.touched)){
                                @if(lastName.hasError('required') || lastName.hasError('whitespace')){
                                <p class="text-danger small ms-2">Last Name is required</p>
                                }
                                @else if(lastName.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">Last Name must be atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                @if(email?.invalid && (email.dirty || email.touched)){
                                @if(email.hasError('pattern')){
                                <p class="text-danger small ms-2">Email must be in a valid email address format </p>
                                }
                                @if(email.hasError('required')){
                                <p class="text-danger small ms-2">Email is required</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" class="form-select" (change)="getStates('shipping')">
                                    <option value="">--select--</option>
                                    @for(country of countries(); track country.id){
                                    <option [ngValue]="country">{{ country.name }}</option>
                                    }
                                </select>
                                @if(shippingCountry?.invalid && (shippingCountry.dirty || shippingCountry.touched)){
                                @if(shippingCountry.hasError('required')){
                                <p class="text-danger small ms-2">Country is required</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                @if(shippingStreet?.invalid && (shippingStreet.dirty || shippingStreet.touched)){
                                @if(shippingStreet.hasError('required') || shippingStreet.hasError('whitespace')){
                                <p class="text-danger small ms-2">Street is required</p>
                                }
                                @else if(shippingStreet.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">Street must be atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                @if(shippingCity?.invalid && (shippingCity.dirty || shippingCity.touched)){
                                @if(shippingCity.hasError('required') || shippingCity.hasError('whitespace')){
                                <p class="text-danger small ms-2">City is required</p>
                                }
                                @else if(shippingCity.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">City must be atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="state" class="form-select">
                                <option value="">--select--</option>
                                @for(state of shippingStates(); track state.id){
                                <option [ngValue]="state">{{ state.name }}</option>
                                }
                            </select>
                            @if(shippingState?.invalid && (shippingState.dirty || shippingState.touched)){
                            @if(shippingState.hasError('required')){
                            <p class="text-danger small ms-2">State is required</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipcode">
                                @if(shippingZipcode?.invalid && (shippingZipcode.dirty || shippingZipcode.touched)){
                                @if(shippingZipcode.hasError('required') || shippingZipcode.hasError('whitespace')){
                                <p class="text-danger small ms-2">Zipcode is required</p>
                                }
                                @else if(shippingZipcode.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">Zipcode must be atleast 5 characters/digits long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add a checkbox to copy shipping address to billing address if it is same-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="billingAddressSameAsShipping($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>
                <!-- billing address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="country" class="form-select" (change)="getStates('billing')">
                                <option value="">--select--</option>
                                @for(country of countries(); track country.id){
                                <option [ngValue]="country">{{ country.name }}</option>
                                }
                            </select>
                            @if(billingCountry?.invalid && (billingCountry.dirty || billingCountry.touched)){
                            @if(billingCountry.hasError('required')){
                            <p class="text-danger small ms-2">Country is required</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                @if(billingStreet?.invalid && (billingStreet.dirty || billingStreet.touched)){
                                @if(billingStreet.hasError('required') || billingStreet.hasError('whitespace')){
                                <p class="text-danger small ms-2">Street is required</p>
                                }
                                @else if(billingStreet.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">Street must be atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                @if(billingCity?.invalid && (billingCity.dirty || billingCity.touched)){
                                @if(billingCity.hasError('required') || billingCity.hasError('whitespace')){
                                <p class="text-danger small ms-2">City is required</p>
                                }
                                @else if(billingCity.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">City must be of atleast 2 characters long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="state" class="form-select">
                                <option value="">--select--</option>
                                @for(state of billingStates(); track state.id){
                                <option [ngValue]="state">{{ state.name }}</option>
                                }
                            </select>
                            @if(billingState?.invalid && (billingState.dirty || billingState.touched)){
                            @if(billingState.hasError('required')){
                            <p class="text-danger small ms-2">State is required</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipcode">
                                @if(billingZipcode?.invalid && (billingZipcode.dirty || billingZipcode.touched)){
                                @if(billingZipcode.hasError('required') || billingZipcode.hasError('whitespace')){
                                <p class="text-danger small ms-2">Zipcode is required</p>
                                }
                                @else if(billingZipcode.hasError('minLengthTrim')){
                                <p class="text-danger small ms-2">Zipcode must have atleast 5 characters/digits long</p>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- payment details -->
                <div formGroupName="paymentDetails" class="form-area">
                    <h3>Payment Details </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="cardType" class="form-select">
                                <option value="">--select--</option>
                                <option value="visa">Visa</option>
                                <option value="mastercard">Mastercard</option>
                            </select>
                            @if(cardType?.invalid && (cardType.dirty || cardType.touched)){
                            @if(cardType.hasError('required')){
                            <p class="text-danger small ms-2">Card Type is required</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Name on Card</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <input formControlName="nameOnCard" type="text">
                            @if(nameOnCard?.invalid && (nameOnCard.dirty || nameOnCard.touched)){
                            @if(nameOnCard.hasError('required') || nameOnCard.hasError('whitespace')){
                            <p class="text-danger small ms-2">Name on card is required</p>
                            }
                            @else if(nameOnCard.hasError('minLengthTrim')){
                            <p class="text-danger small ms-2">Name on card must be of atleast 2 characters long</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Number</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <input formControlName="cardNumber" type="text" placeholder="1234 1234 1234 1234">
                            @if(cardNumber?.invalid && (cardNumber.dirty || cardNumber.touched)){
                            @if(cardNumber.hasError('required')){
                            <p class="text-danger small ms-2">Card Number is required</p>
                            }
                            @else if(cardNumber.hasError('pattern')){
                            <p class="text-danger small ms-2">Card number must be 16 digits</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <input formControlName="securityCode" type="text">
                            @if(securityCode?.invalid && (securityCode.dirty || securityCode.touched)){
                            @if(securityCode.hasError('required')){
                            <p class="text-danger small ms-2">Security code is required</p>
                            }
                            @else if(securityCode.hasError('pattern')){
                            <p class="text-danger small ms-2">Security code must be 3 or 4 digits</p>
                            }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Year </label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="expiryYear" (change)="handleMonthsAndYears()" class="form-select">
                                <option>--select--</option>
                                @for(year of creditCardYears(); track $index){
                                <option>{{ year }}</option>
                                }
                            </select>
                            @if(expiryYear?.invalid && (expiryYear.dirty || expiryYear.touched)){
                            @if(expiryYear.hasError('required')){
                            <p class="text-danger small ms-2">Expiration year is required</p>
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Month</label>
                        </div>
                        <div class="col-md-9 input-space">
                            <select formControlName="expiryMonth" class="form-select">
                                <option value=""> --select--</option>
                                @for(month of creditCardMonths(); track month.value){
                                <option [value]="month.value">{{ month.name }}</option>
                                }
                            </select>
                            @if(expiryMonth?.invalid && (expiryMonth.dirty || expiryMonth.touched)){
                            @if(expiryMonth.hasError('required')){
                            <p class="text-danger small ms-2">Expiration month is required</p>
                            }
                            }
                        </div>
                    </div>
                </div>
                <!-- order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <div class="row">
                        <div class="col">
                            <label class="me-2">Total Quantity: </label>{{ totalQuantity() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="me-2">Shipping: </label>FREE
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="me-2">Total Price: </label>{{ totalPrice() | currency:"USD"}}
                        </div>
                    </div>

                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary add-to-cart-btn">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>